*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

/* shared style */
body {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
}

header{
  padding-top: 16px;

}
.btn{
  background-color: #469165;
   border: none;
 border-radius: 4px;
 padding: 12px 16px;
 font-size: 16px;
 font-weight: 600;
 color: white;
 cursor: pointer;
 
}
.btn:hover {
  background-color: #3b7c56;
  transform: translateY(-2px);
}


/* main style */
nav{
  width:100% ;
  max-width: 1360px;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;


}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;

}
nav .menu a{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}
/* banner-section */
#banner{
  width: 100%;
  height: 676px;
  background-image: url(../assets/hero-bg.png);
  padding-top: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  

}
#banner .banner-content{
  width:100% ;
max-width: 1360px;
text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin:0 auto;
 padding-top: 52px;
 /* margin-bottom: 32px; */
 }
.btn-early-access{
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #627382;
  width: 229px;
  height: 36px;
  display: inline-flex;
align-items: center;
gap: 10px;
  padding:8px 12px 8px 12px ;
  
  
  

}
#banner .banner-content h1{
font-size: 72px ;
font-weight: 700;
color: #FFFFFF;
padding: 16px 0px;
margin: 0 auto;

}
.color-green{
  color: #30B868;
}
#banner .banner-content p{
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  align-items: center;
  margin-bottom: 32px;
}
.btn-start{
  background-color: #30B868;
  border: none;
  width: 251px;
  height: 44px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px; 
  padding: 16px;

}
.btn-how-it-works{
  width: 198px;
  height: 52px;
  background-color:#001931;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 8px; 
  padding: 16px;

}

