*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

/* shared style */
body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
}

header{
  padding-top: 16px;

}
.btn{
  background-color: #469165;
   border: none;
 border-radius: 4px;
 padding: 12px 16px;
 font-size: 16px;
 font-weight: 600;
 color: white;
 cursor: pointer;
 
}
.btn:hover {
  background-color: #3b7c56;
  transform: translateY(-2px);
}


/* main style */
nav{
  width:100% ;
  max-width: 1360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;


}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;

}
nav .menu a{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}
/* banner-section */
#banner{
  width: 100%;
  height: 676px;
  background-image: url(../assets/hero-bg.png);
  padding-top: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  

}
#banner .banner-content{
  width:100% ;
max-width: 1360px;
text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin:0 auto;
 padding-top: 52px;
 /* margin-bottom: 32px; */
 }
.btn-early-access{
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #627382;
  width: 229px;
  height: 36px;
  display: inline-flex;
align-items: center;
gap: 10px;
  padding:8px 12px 8px 12px ; 

}
.btn-early-access:hover {
  transform: scale(1.05);
  background-color: #28a55f;
}

   
   

#banner .banner-content h1{
font-size: 72px ;
font-weight: 700;
color: #FFFFFF;
padding: 16px 0px;
margin: 0 auto;

}
.color-green{
  color: #30B868;
}
#banner .banner-content p{
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  align-items: center;
  margin-bottom: 32px;
}
.btn-start{
  background-color: #30B868;
  border: none;
  width: 251px;
  height: 44px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px; 
  padding: 16px;

}
.btn-start:hover {
  transform: scale(1.05);      
  background-color: #3c7956;  
}
.btn-how-it-works{
  width: 198px;
  height: 52px;
  background-color:#001931;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 8px; 
  padding: 16px;

}
.btn-how-it-works:hover {
  transform: scale(1.05);       
  background-color: #1a422b;   
}

/* note section */
#Notes-Section{
    width:100% ;
max-width: 1360px;
text-align: center;
margin: 0 auto;
/* padding-bottom: 44px; */
/*  */
}
#Notes-Section h1{
  font-size: 48px;
  font-style: 700;
  padding-bottom: 16px;
}
#Notes-Section p{
  font-size: 16px;
  font-weight: 400;
}
#Notes-Section .cards-container{
  margin-top: 44px;
  display:flex;
}
#Notes-Section .notes-cards{
  width: 322px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color:#FFFFFF;

}

#Notes-Section .notes-cards h2{
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  text-align: center;
  text-transform: capitalize;
}
#Notes-Section .notes-cards p{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
}

#Notes-Section .img-circle{
  width: 60px;
  height: 60px;
  background-color: #F95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
/* Second-Brain-Section */
#Second-Brain-Section{
    width:100% ;
max-width: 1360px;
margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;

}
#Second-Brain-Section .image-section{
  width: 600px;
  height: 600px;
  border-radius: 12px;
}

#Second-Brain-Section .content-section{
  width: 700px;
  height: 396px;
  margin-top: 102px;
  margin-bottom: 102px;
} 
#Second-Brain-Section .content-section .description-section{
  width: 700px;
  height: 228px;
  padding-bottom: 40px;
}
#Second-Brain-Section .content-section .tagline{
  color:#30B868;
  font-size: 16px;
}
#Second-Brain-Section .content-section h1{
  font-size: 48px;
  font-weight: 700px;
  text-transform: capitalize;
}
#Second-Brain-Section .content-section p{
  font-size: 16px;
  font-weight: 400px;
  text-align: left;
  color: #627382;
}


.check-list li {
  background-image: url("../assets/CheckCircle.png");
  background-repeat: no-repeat;
  background-position: left top 4px;
  background-size: 18px 18px;
  list-style: none;
  padding-left: 32px;   
  margin-bottom: 16px;
  font-size: 16px;
  color:#001931;
}
/*Early Access Section  */
#Early-Access-Section{
      width:100% ;
max-width: 1360px;
background-color: #F7F6F2;
margin: 0 auto;
padding: 80px 40px 80px 40px;
}
#Early-Access-Section .early-access-content{
text-align: center;
}
#Early-Access-Section h1{
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  
  margin-bottom: 16px;
}
#Early-Access-Section p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  
}
#Early-Access-Section .early-btn{
  background-color: #30B868;
  width: 194px;
  height: 52px;
  padding: 12px 16px;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  
}
.early-btn:hover {
  transform: scale(1.05);       
  background-color: #1a422b;   
}
.early-note {
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
  color: #777;
}
.dot {
  margin: 0 8px;
  color: #aaa;
}
/* footer-section */
#footer-section {
  background-color:#001931;
  color: #fff;
  padding: 120px 120px 120px;
}
#footer-section .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.footer-logo img {
  height: 40px;
}
.footer-social img {
  width: 20px;
  height: 20px;

}


.footer-social a {
  margin-left: 16px;
  display: inline-block;
}
.footer-divider {
  border: 0;
  border-top: 1px solid #444;
  margin: 16px 0;
}
.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

